
.imagenhome {
    margin:0;
    background: url("https://i.pinimg.com/originals/a1/86/a8/a186a8aff83506c70b0b307e3fb062c8.png")no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}  

.imagenhome select{
    width:200px ;
    height: 40px;
    font-size: 15px;

}

.buttonhome2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    margin-left: 2.5px;
    height: 20px;
    cursor: pointer;
    display: flex;
    width: 135px;
    margin-top: 20px;
}

.buttonhome2:hover{
    transform: scale(1.1);
    background-color: rgb(245, 227, 87);
    color: rgb(117, 113, 113);
}
 .buttonhome {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    margin-left: 2.5px;
    height: 20px;
    cursor: pointer;
    display: flex;
    margin-top: 20px;
}

.buttonhome:hover{
    transform: scale(1.1);
    background-color: rgb(245, 227, 87);
    color: rgb(117, 113, 113);
}

.nav {
    display: flex;
    justify-content: space-around;


}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-left: 15px;  
}
.select {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    
}

.stylehome {border-radius: 30px;
    margin-left: 15px;
    width: 300px;
    height: 40px;
    cursor: pointer;
}

.stylehome:hover{
    transform: scale(1.1);
    background-color: rgb(245, 227, 87);
    color: rgb(117, 113, 113);
}



