.style {
        display: flex;
        flex-direction: row;
        /* margin-left: 80%; */
        align-items: center; 
        justify-content: center;
}

.buttonbuscar {
        font-family: Arial;
        border-radius: 10px;
        margin-left: 2.5px;
        background-color: transparent;
        border:none;
       cursor: pointer;
        
    }
    .buttonbuscar:hover{
        transform: scale(1.1);
        background-color: rgb(244, 217, 19);
        color: white;
      
}

.input1 {
        border-radius: 30px;
        margin-left: 15px;
        width: 300px;
        height: 40px;
        
}

/* @media screen and (max-width:800px) {
      .style {
        font-size: 1px;
      }
        
        
} */